@font-face {
    font-family: 'Avenir'; 
    src: local('../font/AvenirLTStd-Book.otf') format("opentype");
  }
@font-face {
    font-family: 'Avenir'; 
    src: local('../font/AvenirLTStd-Medium.otf') format("opentype");
  }
@font-face {
    font-family: 'Avenir'; 
    src: local('../font/AvenirLTStd-Roman.otf') format("opentype");
  }