$base-font-size: 16;
$font-family:'Lato',"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",'Avenir',sans-serif;
//color_common
$main-text: #525252;
$thumb-text: rgb(153, 0, 255);
$mighty-action-x: #d93d8b;
$tadoru-quest: #199ada;
$bang-bang-shooting: #524b6f;
$bakuso-bike: #f8e000;
